<div class="row col-lg-12">&nbsp;</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="container">
            <div id="demo" class="carousel slide rounded" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/padel0.jpg" alt="Padel U.P.M." width="1000" height="350">
                        <div class="carousel-caption " >
                            <div class="col-md-12">
                                <img src="img/logouni.png" class="flex-left rounded img-thumbnail" width="200" height="350" alt="UPM">
                            </div>
                            <div class="col-md-12">
                                <h3 >P&aacute;del U.P.M.</h3>
                            </div>
                            <div class="col-md-12">
                                <p class="small row"><b>El club universitario m&aacute;s din&aacute;mico del circuito</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/padel1.jpg" alt="padel UPM" width="1000" height="350">
                        <div class="carousel-caption" >

                            <img src="img/logouni.png" class="flex-left rounded img-thumbnail" width="200" height="350" alt="UPM">
                            <h3 >P&aacute;del U.P.M.</h3>
                            <p class="small"><b>El mejor club de Vallecas</b></p>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <!--  <img src="img/padel.png" class="rounded img-thumbnail" alt="Cinque Terre">-->
    </div>
</div>
<div class="col-md-2">
</div>



<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 row columnsContainer">
        <div class="col-md-4">
            <h4 class="columnHeader">
                Clases
            </h4>
            <p class="justify">
                El conjunto de monitores m&aacute;s cualificados, se encargar&aacute; de darte la formaci&oacute;
                en cuanto a t&eacute;cnica requerida en este deporte. Las clases pr&aacute;cticas te
                permitir&aacute;n interiorizar los movimientos adecuados, como si fuesen naturales.
            </p>
            <p class="justify">
                Las clases colectivas convierten las clases en un espacio din&aacute;mico, en el que jugar se
                convierte en una actividad placentera y divertida.
            </p>
            <br/>
            <img alt="ETSISI Padel Class" src="img/clasespadel.jpg" class="rounded img-fluid"/>
        </div>
        <div class="col-md-4">
            <h4 class="columnHeader">
                Entrenamientos personalizados
            </h4>
            <p class="justify">
                Si te sientes un campe&oacute;n, de verdad lo eres o simplemente quieres avanzar r&aacute;pidamente
                en la t&eacute;cnica que rodea a este deporte, te podemos configurar sesiones de entrenamiento a tu
                medida, con un entrenador personal que se encargar&aacute; de:
            </p>
            <ul>
                <li>
                    Ense&ntilde;arte la t&eacute;cnica adecuada para mejorar tus golpes.
                </li>
                <li>
                    Ense&ntilde;arte a combinar la potencia con la t&eacute;cnica.
                </li>
                <li>
                    Mostrarte como mejorar el rendimiento en equipo.
                </li>
                <li>
                    Explicarte como utilizar la presi&oacute;n de los campeonatos en tu beneficio.
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4 class="columnHeader">
                Campeonatos
            </h4>
            <p class="justify">
                El club organiza campeonatos peri&oacute;dicos en los que te puedes divertir, al mismo tiempo que
                mejoras en el deporte. Tenemos campeonatos de un d&iacute;a, de fin de semana y ligas regulares.
                Puedes participar en los torneos masculinos, femeninos y mixtos.
            </p>
            <br/>
            <img alt="ETSISI Padel Class" src="img/campeonatos.jpg" class="img-rounded img-responsive"/>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>