/* CSS styles for "instalaciones.html" page */


.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 80% !important;
    height: 50% !important;
}
.container_inst{

    border: 1px solid #28a74524;
    border-radius: 5px;
    background-color: #28a74524;
    padding: 20px;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 10%;

}



#listContainer {
    margin-top: 25%;
    margin-bottom: 25%;
    border: 1px solid #1d760d;
    border-radius: 5px;
    padding: 10px;
}